/* DICHIARAZIONE VARIABILI */
:root
{
    /* VARIABILI DIMENSIONALI */
    --header_height:        8vh;
    /* VARIABILI CROMATICHE */
    --nav_bar_color:        #FFFFFF;
    --side_bar_color:       #051E34;
}

header
{
    height: var(--header_height);
    background-color: green;
    z-index: 999;
}

a
{
    text-decoration: none;
}

#side_bar
{
    top: var(--header_height);
    background-color: var(--side_bar_color);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

#sliding_core
{
    margin-top: var(--header_height);
    margin-bottom: 1rem;
}

#sliding_core #boolean
{
    background-color: #1B72E8;
}

#sliding_core #boolean div.order-md-first,
#sliding_core #boolean div.order-md-last
{
    min-width: 22%;
}

#sliding_core #boolean a.badge
{
    font-size: 0.5rem;
    background-color: #165BBA;
}

#sliding_core #lower_items h5
{
    padding: 0.7rem 0.3rem;
    background-color: #F7F7F7; 
}

#sliding_core #lower_items #left_items #table_box .rounded_icon
{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: small;
    color: white;
    border-radius: 50%;
    background-color: red;
}

#sliding_core #lower_items #left_items #table_box span.badge
{
    font-size: x-small;
}

#sliding_core #lower_items #left_items #table_box a > i
{
    display: inline-block;
    text-align: center;
    line-height: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: small;
    vertical-align: bottom;
}

#sliding_core #lower_items #left_items #table_box #class_nr
{
    width: 50%;
}

/* LAPTOP / DESKTOP (LG) - BREAKPOINT WIDTH: 992 PIXEL */
@media only screen and (min-width: 992px)
{
    #sliding_core #boolean div.order-md-last div.offcanvas
    {
        max-width: 50%;
    }

    #sliding_core #lower_items #left_items #table_box #class_nr
    {
        min-width: 60%;
    }
}