/* DICHIARAZIONE VARIABILI */
:root
{
    /* VARIABILI DIMENSIONALI */
    --header_height:        10vh;
    /* VARIABILI CROMATICHE */
    --nav_bar_color:        #FFFFFF;
    --side_bar_color:       #051E34;
}

nav
{
    height: var(--header_height);
    background-color: var(--nav_bar_color)!important;
    padding-top: 0 !important;
}

 nav a
{
    height: var(--header_height);
    line-height: var(--header_height);
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

nav a > #logo_small
{
    height: 75%;
}

nav a > #logo_wide
{
    height: 50%;
}

#side_bar
{
    top: var(--header_height);
    background-color: var(--side_bar_color);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

#sliding_core
{
    margin-top: var(--header_height);
}