/* DICHIARAZIONE VARIABILI */
:root
{
    /* VARIABILI DIMENSIONALI */
    --header_height:            10vh;
    --header_height_landscape:  15vh;
    /* VARIABILI CROMATICHE */
    --nav_bar_color:            #FFFFFF;
    --side_bar_color:           #051E34;
}

a
{
    text-decoration: none;
}

/* SEZIONE HEADER,NAV,BARRA DI NAVIGAZIONE */
header
{
    height: var(--header_height);
    background-color: white;
    z-index: 999;   
}

header #logo_box > #logo_small
{
    height: 75%;
    object-fit: contain;
}

header #logo_box > #logo_huge
{
    width: 90%;
    object-fit: contain;
}

header .navbar form,
header .navbar form > input.form-control
{
    background-color: #E5E5E5;
} 

/* SEZIONE BARRA DEL MENU LATERALE */
#side_bar
{
    top: var(--header_height);
    background-color: var(--side_bar_color);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

/* SEZIONE CORPO CENTRALE, CONTENENTE TABELLA E RIQUADRI INFORMATIVI */
#sliding_core
{
    margin-top: var(--header_height);
    height: calc(100vh - var(--header_height));
    padding-bottom: 1rem;
}

#sliding_core #boolean
{
    background-color: #1B72E8;
}

#sliding_core #boolean div.order-sm-first,
#sliding_core #boolean div.order-sm-last
{
    min-width: 22%;
}

#sliding_core #boolean a.badge
{
    font-size: 0.5rem;
    background-color: #165BBA;
}

#sliding_core #lower_items h5
{
    padding: 0.7rem 0.3rem;
    background-color: #F7F7F7; 
}

/* ICONA "CODE" CON BORDO CIRCOLARE */
#sliding_core #lower_items #left_items #table_box .rounded_icon
{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: small;
    color: white;
    border-radius: 50%;
    background-color: red;
}

#sliding_core #lower_items #left_items #table_box span.badge
{
    font-size: x-small;
}

/* ICONE "PENCIL" E "CESTINO" NELLA TABELLA */
#sliding_core #lower_items #left_items #table_box a > i
{
    display: inline-block;
    text-align: center;
    line-height: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: small;
    vertical-align: bottom;
}

#sliding_core #lower_items #left_items #table_box #class_nr
{
    width: 50%;
}

/* LISTA "TO DO" CON ZEBRATURA SIMILE ALLA TABELLA */
/***************************************************/
#sliding_core #lower_items #right_items #todo ul.list-group > li:nth-child(odd)
{
    background-color: #ECEDEE;
}

#sliding_core #lower_items #right_items #todo ul.list-group > li:nth-child(even)
{
    background-color: #F8F9FA;
}
/***************************************************/

/********** MEDIA QUERIES **********/
/* BREAKPOINT WIDTH: 576 PIXEL */
@media only screen and (min-width: 576px)
{
    header #logo_box > #logo_small
    {
        height: 50%;
        object-fit: contain;
    }   

    #side_bar a
    {
        font-size: x-small;
    }
}

/* BREAKPOINT WIDTH: 992 PIXEL */
@media only screen and (min-width: 992px)
{
    #side_bar a > i
    {
        flex-basis: 40%;
        column-gap: 15%;
        align-self: center;
    }
}

/* BREAKPOINT WIDTH: 1200 PIXEL */
@media only screen and (min-width: 1200px)
{
    #sliding_core #boolean div.order-sm-last div.offcanvas
    {
        max-width: 50%;
    }

    #sliding_core #lower_items #left_items #table_box #class_nr
    {
        min-width: 60%;
    }
}

/* BREAKPOINT HEIGHT: 500 PIXEL */
@media only screen and (max-height: 500px)
{
    header
    {
        height: var(--header_height_landscape);
    }

    #side_bar
    {
        top: var(--header_height_landscape);
    }

    #sliding_core
    {
        margin-top: var(--header_height_landscape);
        height: calc(100vh - var(--header_height_landscape));
    }
}

/********** EFFETTI HOVER **********/
nav.navbar a.nav-link:hover,
#boolean div.order-sm-first .badge:hover,
#boolean div.order-sm-first h3:hover
{
    color: lightblue !important;
}

#side_bar a:hover
{
    background-color: lightblue;
}

#table_box table tbody i.border:hover
{
    background-color: darkblue;
    color:white
}

#sliding_core #lower_items #right_items #todo ul.list-group > li:hover
{
    background-color: #E5E6E7;
}
